@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

:root {
  --page-bg-color: hsl(180, 52%, 96%);
  --header-bg-color: #5ba4a4;
}
* {
  max-width: 100%;
  transition: all 200ms ease;
}

body {
  padding: 0;
  margin: 0;
  font-family: spartan;
  background-color: var(--bg-primary-color);
  font-size: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  height: 155px;
  background-color: var(--header-bg-color);
  background-image: url("./challenge-files/images/bg-header-mobile.svg");
  margin-bottom: 3rem;
}

.container {
  width: 90%;
  max-width: 1000px;
  background-color: black;
  margin: 0 auto;
}

@media screen and (min-width: 740px) {
  .header {
    background-image: url("./challenge-files/images/bg-header-desktop.svg");
  }
}
